@model EmployeeDto
@{
    ViewData["Title"] = "Create Employee";
    var Departments = new SelectList( ViewBag.Departments as IEnumerable<Department>,"Id","Name");
}

<h2 class="text-center mb-4">Create Employee</h2>

<div class="card shadow-sm p-4">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Name" class="form-label fw-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Employee Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Age" class="form-label fw-bold"></label>
                <input asp-for="Age" type="number" class="form-control" placeholder="Enter Age">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Phone" class="form-label fw-bold"></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone Number">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Address" class="form-label fw-bold"></label>
                <input asp-for="Address" class="form-control" placeholder="Enter Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>


            <div class="col-md-6 mb-3"> 
                <label asp-for="DepartmentId" class="form-label fw-bold"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="Departments">
                    <option value="@null"> -- select Department --</option>
                </select>
            </div>
                

            <div class="col-md-6 mb-3">
                <label asp-for="Salary" class="form-label fw-bold"></label>
                <input asp-for="Salary" type="number" class="form-control" placeholder="Enter Salary">
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Image" class="form-label fw-bold"></label>
                <input asp-for="Image" type="file" class="form-control" placeholder="Enter Salary">
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="HiringDate" class="form-label fw-bold"></label>
                <input asp-for="HiringDate" type="date" class="form-control">
                <span asp-validation-for="HiringDate" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="IsActive" class="form-label fw-bold"></label>
                <select asp-for="IsActive" class="form-select">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            <div class="col-md-12 text-center mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Save
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Cancel
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}